@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-img-box::before {
  content: "";
  position: absolute;
  width: 100%;
  padding-bottom: 70%;
  background-color: #e6f2ef;
  z-index: -2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.step-img-box::after {
  content: "";
  position: absolute;
  width: 80%;
  padding-bottom: 60%;
  background-color: #b5d9ce;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.EquipmentDiv {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 545px) {
    flex-direction: row;
  }
}
.equipment-card {
  transition: transform 0.4s ease-in-out;
}

.equipment-card:hover {
  transform: translateY(-10px);
}

.gymGridContainer {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  @media screen and (min-width: 550px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  @media screen and (min-width: 945px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1350px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.feedBacksGrid {
  display: grid;
  @media screen and (min-width: 550px) {
    grid-template-columns: 1fr 1fr;
  }
}
.howWeWorkContainer {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 945px) {
    flex-direction: row;
  }
}
.pricing-plan--yearly::after {
  content: "Best value";
  position: absolute;
  top: 20px;
  right: -68px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  background-color: #94d82d;
  padding: 6px 80px;
  transform: rotate(42deg);
}
.pricesCardsContainer {
  justify-content: center;
  @media screen and (min-width: 550px) {
    flex-direction: row;
    gap: 20px;
  }
}
.FeatureCardContainer {
  display: grid;
  gap: 30px;
  @media screen and (min-width: 550px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 700px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.freeWeekContainer {
  display: grid;
  grid-template-rows: 3fr 7fr;
  height: 100%;
  background: linear-gradient(to right bottom, #52a58c, #087f5b);
  border-radius: 15px;
  overflow: hidden;
}

.freeWeekContainerImg {
  background-image: linear-gradient(
      to right bottom,
      rgba(82, 165, 140, 0.35),
      rgba(8, 127, 91, 0.35)
    ),
    url("/cta-img.jpg");
  background-size: cover;
  height: 100%;
  background-position: top;
}

.freeWeekContainerForm {
  padding: 25px;
}

@media (min-width: 550px) {
  .freeWeekContainer {
    grid-template-rows: none;
    grid-template-columns: 8fr 5fr;
    height: 100%;
  }

  .freeWeekContainerImg,
  .freeWeekContainerForm {
    height: 100%;
  }

  .freeWeekContainerImg {
    order: 2;
    background-position: top;
  }
  .freeWeekContainerForm {
    padding-top: 38px;
    padding-inline: 51px;
    padding-bottom: 51px;
  }
}
.form {
  display: grid;

  @media screen and (min-width: 945px) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.formBtn {
  @media screen and (min-width: 945px) {
    padding: 0px;
    margin-top: 28px;
  }
}
.freeWeekContainerForm {
  @media screen and (min-width: 945px) {
    padding-top: 40px;
    padding-inline: 60px;
    padding-bottom: 130px;
  }
}
